# RECOMMENDATION SYSTEM

In [1]:
import pandas as pd 
import numpy as np

GENRE:

Comedy, Action, Scifi, Romance

## Cosine Similarity

In [2]:
# AntMan  vs GoTG 
cosine = (1*1 + 1*1 + 1*1 + 1*0)/(np.sqrt(4)*np.sqrt(3))
print(cosine)

0.8660254037844387

In [3]:
# Antman vs Terminator
cosine = (1*0 + 1*1 + 1*1 + 1*0)/(np.sqrt(4)*np.sqrt(2))
print(cosine)

0.7071067811865475

In [4]:
# Antman vs 3 Idiots
cosine = (1*1 + 1*0 + 1*0 + 1*0)/(np.sqrt(4)*np.sqrt(1))
print(cosine)

0.5

## Kesimpulan

kalau kita udah nonton Antman, maka kita akan direkomendasikan untuk nonton GoTG, karena nilai Cosine Similarity paling besar

## Genre dikasih degree

In [5]:
# AntMan  vs GoTG 
# cosine = (4*3 + 5*5 + 5*4 + 4*0)/(np.sqrt(4**)*np.sqrt(3))
# print(cosine)

# Anime.csv

In [6]:
df_anime = pd.read_csv('anime.csv')
df_anime.shape

(12294, 7)

In [7]:
df_anime = df_anime.dropna()
df_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [8]:
df_anime['type'].value_counts()

TV         3668
OVA        3284
Movie      2259
Special    1670
ONA         648
Music       488
Name: type, dtype: int64

In [9]:
df_anime['genre'].value_counts()

Hentai                                            816
Comedy                                            521
Music                                             297
Kids                                              197
Comedy, Slice of Life                             174
                                                 ...
Action, Psychological, Shounen, Supernatural        1
Drama, Romance, Sci-Fi, Seinen, Space               1
Music, Sci-Fi, Space                                1
Drama, Historical, Romance, Sci-Fi, Shounen Ai      1
Adventure, Comedy, Kids, Space                      1
Name: genre, Length: 3229, dtype: int64

## Create Recommendation System

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
cvr = CountVectorizer(tokenizer= lambda x:x.split(', ')) # hanya koma untuk memecah kolom genre

mgenre_a = cvr.fit_transform(df_anime['genre'])

print(len(cvr.get_feature_names()))
print(cvr.get_feature_names())

43
['action', 'adventure', 'cars', 'comedy', 'dementia', 'demons', 'drama', 'ecchi', 'fantasy', 'game', 'harem', 'hentai', 'historical', 'horror', 'josei', 'kids', 'magic', 'martial arts', 'mecha', 'military', 'music', 'mystery', 'parody', 'police', 'psychological', 'romance', 'samurai', 'school', 'sci-fi', 'seinen', 'shoujo', 'shoujo ai', 'shounen', 'shounen ai', 'slice of life', 'space', 'sports', 'super power', 'supernatural', 'thriller', 'vampire', 'yaoi', 'yuri']

In [12]:
mgenre_a.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [13]:
genre = pd.DataFrame(mgenre_a.toarray(), columns=cvr.get_feature_names())
genre

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# df_genre = pd.concat([df_anime[['name']], genre], axis=1)
# df_genre

In [15]:
genre['name'] = df_anime['name']
df_genre = genre
df_genre

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri,name
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,Kimi no Na wa.
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,Fullmetal Alchemist: Brotherhood
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Gintama°
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,Steins;Gate
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Gintama&#039;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Megami Tantei Vinus File
12013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Shusaku
12014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Bakuhatsu Sunzen!! Tenshi no Countdown
12015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Dragon Knight
12016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Five Card

# 1. Cosine Similarity

## Anime Recommender

In [16]:
# user menyukai naruto
df_genre[df_genre['name']=='Naruto'].drop('name', axis=1)

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
841,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
cosScore_anime = cosine_similarity(
    df_genre[df_genre['name']=='Naruto'].drop('name', axis=1), 
    df_genre.drop('name', axis=1))

cosScore_anime

array([[0.        , 0.3380617 , 0.50709255, ..., 0.        , 0.        ,
        0.        ]])

In [18]:
# df_cosScore = df_anime[['name']]
# df_cosScore['cosScore'] = cosScore_anime

# df_cosScore

In [19]:
df_cosScore = pd.concat([df_anime[['name']], pd.DataFrame(cosScore_anime, index=['cosScore']).T], axis=1)

df_cosScore

                                                    name  cosScore
0                                         Kimi no Na wa.  0.000000
1                       Fullmetal Alchemist: Brotherhood  0.338062
2                                               Gintama°  0.507093
3                                            Steins;Gate  0.000000
4                                          Gintama&#039;  0.507093
...                                                  ...       ...
12289       Toushindai My Lover: Minami tai Mecha-Minami       NaN
12290                                        Under World       NaN
12291                     Violence Gekiga David no Hoshi       NaN
12292  Violence Gekiga Shin David no Hoshi: Inma Dens...       NaN
12293                   Yasuji no Pornorama: Yacchimae!!       NaN

[12284 rows x 2 columns]

In [20]:
# df_cosScore.sort_values('cosScore', ascending=False).reset_index(drop=True)

In [21]:
df_cosScore[df_cosScore['name']!='Naruto'].sort_values('cosScore', ascending=False).reset_index(drop=True)['name'][:5]

0    Boruto: Naruto the Movie - Naruto ga Hokage ni...
1                                          Naruto x UT
2                             Boruto: Naruto the Movie
3                                   Naruto: Shippuuden
4         Mudazumo Naki Kaikaku: The Legend of Koizumi
Name: name, dtype: object

In [22]:
df_cosScore[df_cosScore['name']!='Naruto'].sort_values('cosScore', ascending=False)['name'][:5]

1103    Boruto: Naruto the Movie - Naruto ga Hokage ni...
1343                                          Naruto x UT
486                              Boruto: Naruto the Movie
615                                    Naruto: Shippuuden
2996         Mudazumo Naki Kaikaku: The Legend of Koizumi
Name: name, dtype: object

In [23]:
# Coba buat function di mana kita tinggal memasukkan nama anime, dan mendapatkan rekomendasi anime lain yg mirip dgn anime yg kita masukkan

In [24]:
# Function Rekomendasi Anime

def top5anime(anime_name):
    # indexing anime yg kita suka
    df_genre[df_genre['name']== anime_name ].drop('name', axis=1)

    # cosine similarity
    cosScore_anime = cosine_similarity(
        df_genre[df_genre['name']== anime_name].drop('name', axis=1), 
        df_genre.drop('name', axis=1))

    # buat df_cosScore berisi kolom name dan cosScore
    df_cosScore = pd.concat([df_anime[['name']], pd.DataFrame(cosScore_anime, index=['cosScore']).T], axis=1)

    # sorting top 5
    return df_cosScore[df_cosScore['name']!= anime_name].sort_values('cosScore', ascending=False)['name'][:5]

In [25]:
top5anime('Doraemon Movie 12: Nobita no Dorabian Nights')

2140        Doraemon Movie 30: Nobita no Ningyo Daikaisen
2395           Doraemon Movie 08: Nobita to Ryuu no Kishi
2182           Doraemon Movie 10: Nobita no Nippon Tanjou
993     Doraemon Movie 31: Shin Nobita to Tetsujin Hei...
4791                                      Beautiful World
Name: name, dtype: object

In [26]:
top5anime('Detective Conan Movie 13: The Raven Chaser')

928     Detective Conan Movie 19: The Hellfire Sunflowers
205       Detective Conan Movie 20: The Darkest Nightmare
332     Detective Conan Movie 18: The Sniper from Anot...
227     Detective Conan Movie 14: The Lost Ship in the...
2834              Detective Conan: Happy New Year Special
Name: name, dtype: object

In [27]:
top5anime('Hunter x Hunter: Greed Island Final')

10413    Subarashii Sekai Ryokou: Alaska no Tabi &quot;...
9633                          Mr. Shape: High Touch Taisou
2108               Hunter x Hunter Movie: The Last Mission
202                          Hunter x Hunter: Greed Island
1974                  Hunter x Hunter Movie: Phantom Rouge
Name: name, dtype: object

# 2. Content Based Filtering

## Movie Scoring/User Feature Vector

In [28]:
movies = ["Terminator 2","Interstellar","Ant Man 2","3 Idiots"]
scores = [7,9,8,9]
action = [1,0,1,0]
scifi = [1,1,1,0]
adventure = [0,1,1,0]
comedy = [0,0,1,1]
drama = [0,1,0,1]

df_movies = pd.DataFrame({
    'movie':movies,
    'scores':scores,
    'Action':action,
    'Sci-Fi':scifi,
    'Adventure':adventure,
    'Comedy':comedy,
    'Drama':drama
})

df_movies

          movie  scores  Action  Sci-Fi  Adventure  Comedy  Drama
0  Terminator 2       7       1       1          0       0      0
1  Interstellar       9       0       1          1       0      1
2     Ant Man 2       8       1       1          1       1      0
3      3 Idiots       9       0       0          0       1      1

In [29]:
df_movies2 = df_movies.copy()
df_movies2 = df_movies2.drop('movie', axis=1)
df_movies2

   scores  Action  Sci-Fi  Adventure  Comedy  Drama
0       7       1       1          0       0      0
1       9       0       1          1       0      1
2       8       1       1          1       1      0
3       9       0       0          0       1      1

In [30]:
# for loop genre dikali score
for i in ['Action','Sci-Fi','Adventure','Comedy','Drama']:
    df_movies2[i] = df_movies2['scores']*df_movies2[i]

df_movies2

   scores  Action  Sci-Fi  Adventure  Comedy  Drama
0       7       7       7          0       0      0
1       9       0       9          9       0      9
2       8       8       8          8       8      0
3       9       0       0          0       9      9

In [31]:
df_movies2.sum()

scores       33
Action       15
Sci-Fi       24
Adventure    17
Comedy       17
Drama        18
dtype: int64

In [32]:
df_movies2.sum().sum()

124

In [33]:
df_movies2 = df_movies2.drop('scores', axis=1)

In [34]:
movies_scoring = df_movies2.sum()/df_movies2.sum().sum()
movies_scoring # user feature vector

Action       0.164835
Sci-Fi       0.263736
Adventure    0.186813
Comedy       0.186813
Drama        0.197802
dtype: float64

## Movie Rating Prediction

In [237]:
movies = ["Titanic",'Martian','GOTG Vol 2']
action = [1,0,1]
scifi = [1,1,1]
adventure = [0,1,1]
comedy = [0,0,1]
drama = [0,1,0]

df_movies_recommendation = pd.DataFrame({
    'movie':movies,
    'Action':action,
    'Sci-Fi':scifi,
    'Adventure':adventure,
    'Comedy':comedy,
    'Drama':drama
})

df_movies_recommendation

        movie  Action  Sci-Fi  Adventure  Comedy  Drama
0     Titanic       1       1          0       0      0
1     Martian       0       1          1       0      1
2  GOTG Vol 2       1       1          1       1      0

In [238]:
movies_scoring

Action       0.164835
Sci-Fi       0.263736
Adventure    0.186813
Comedy       0.186813
Drama        0.197802
dtype: float64

In [239]:
for i in ['Action','Sci-Fi','Adventure','Comedy','Drama']:
    df_movies_recommendation[i] = df_movies_recommendation[i]*movies_scoring[i]

df_movies_recommendation['movie rating pred'] = df_movies_recommendation.sum(axis=1)
df_movies_recommendation

,movie,Action,Sci-Fi,Adventure,Comedy,Drama,movie rating pred
0,Titanic,0.164835,0.263736,0.000000,0.000000,0.000000,0.428571
1,Martian,0.000000,0.263736,0.186813,0.000000,0.197802,0.648352
2,GOTG Vol 2,0.164835,0.263736,0.186813,0.186813,0.000000,0.802198

## Coba dengan Anime.csv

In [270]:
# buat data frame untuk film2 yg sudah ditonton (untuk movie scoring)
df_1 = df_genre[(df_genre['name']=='Dragon Ball') | (df_genre['name']=='One Piece') | (df_genre['name']=='Naruto')]

df_1

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri,name
74,1,1,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,One Piece
346,0,1,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,Dragon Ball
841,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,Naruto

In [271]:
# buang column name
df_2 = df_1.copy()
df_2 = df_2.drop(columns='name')

# tambahkan column score, berasal dari rating anime
df_2['scores'] = df_anime['rating']
df_2

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri,scores
74,1,1,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,8.58
346,0,1,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,8.16
841,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,7.81

In [272]:
# for loop genre dikali score
for i in list(df_2.columns)[:-1]:
    df_2[i] = df_2['scores']*df_2[i]

df_2

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri,scores
74,8.58,8.58,0.0,8.58,0.0,0.0,8.58,0.0,8.58,0.0,...,0.0,0.0,0.0,8.58,0.0,0.0,0.0,0.0,0.0,8.58
346,0.00,8.16,0.0,8.16,0.0,0.0,0.00,0.0,8.16,0.0,...,0.0,0.0,0.0,8.16,0.0,0.0,0.0,0.0,0.0,8.16
841,7.81,0.00,0.0,7.81,0.0,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,7.81,0.0,0.0,0.0,0.0,0.0,7.81

In [273]:
# buang column scores, soalnya nanti mau ngitung scoring
df_2 = df_2.drop(columns='scores')

In [274]:
# anime scoring
anime_scoring = df_2.sum()/df_2.sum().sum()
anime_scoring # user feature vector

action           0.110691
adventure        0.113055
cars             0.000000
comedy           0.165800
dementia         0.000000
demons           0.000000
drama            0.057946
ecchi            0.000000
fantasy          0.113055
game             0.000000
harem            0.000000
hentai           0.000000
historical       0.000000
horror           0.000000
josei            0.000000
kids             0.000000
magic            0.000000
martial arts     0.107854
mecha            0.000000
military         0.000000
music            0.000000
mystery          0.000000
parody           0.000000
police           0.000000
psychological    0.000000
romance          0.000000
samurai          0.000000
school           0.000000
sci-fi           0.000000
seinen           0.000000
shoujo           0.000000
shoujo ai        0.000000
shounen          0.165800
shounen ai       0.000000
slice of life    0.000000
space            0.000000
sports           0.000000
super power      0.165800
supernatural     0.000000
thriller         0.000000
vampire          0.000000
yaoi             0.000000
yuri             0.000000
dtype: float64

In [281]:
# buat dataframe tanpa anime yg sudah ditonton

df_anime_recommendation = df_genre[(df_genre['name']!='Dragon Ball') | (df_genre['name']!='One Piece') | (df_genre['name']!='Naruto')]

df_anime_recommendation

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri,name
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,Kimi no Na wa.
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,Fullmetal Alchemist: Brotherhood
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Gintama°
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,Steins;Gate
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Gintama&#039;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Megami Tantei Vinus File
12013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Shusaku
12014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Bakuhatsu Sunzen!! Tenshi no Countdown
12015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Dragon Knight
12016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Five Card

In [282]:
# score genre dikali dengan anime scoring 
for i in list(df_2.columns):
    df_anime_recommendation[i] = df_anime_recommendation[i]*anime_scoring[i]

# jumlahkan score dari setiap genre pada masing2 anime
df_anime_recommendation['anime rating pred'] = df_anime_recommendation.sum(axis=1)
df_anime_recommendation

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri,name,anime rating pred
0,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.057946,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Kimi no Na wa.,0.057946
1,0.110691,0.113055,0.0,0.0000,0.0,0.0,0.057946,0.0,0.113055,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Fullmetal Alchemist: Brotherhood,0.560546
2,0.110691,0.000000,0.0,0.1658,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Gintama°,0.442291
3,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Steins;Gate,0.000000
4,0.110691,0.000000,0.0,0.1658,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Gintama&#039;,0.442291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Megami Tantei Vinus File,0.000000
12013,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Shusaku,0.000000
12014,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bakuhatsu Sunzen!! Tenshi no Countdown,0.000000
12015,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Dragon Knight,0.000000
12016,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Five Card,0.000000

## Kesimpulan

In [287]:
# top 10 rekomendasi berdasarkan anime rating pred
df_anime_recommendation.sort_values(by='anime rating pred', ascending=False).head(10).loc[:,['name','anime rating pred']]

                                                   name  anime rating pred
4312  Dog Days&#039;&#039;: Limone Resort Tenbou Onsen!           0.942054
5997                                           Colorful           0.942054
588                                     Dragon Ball Kai           0.942054
3202         Dragon Ball Movie 1: Shen Long no Densetsu           0.942054
1931                    Dragon Ball: Episode of Bardock           0.942054
3407                                Cossette no Shouzou           0.942054
1930                                  Dragon Ball Super           0.942054
1409              Dragon Ball Z Movie 15: Fukkatsu no F           0.942054
515                              Dragon Ball Kai (2014)           0.942054
2980                                          Dr. Slump           0.942054